{% extends "layout.html" %}
{% block content %}
<div class="page-header" id="banner">
    <div class="row">
        <h1>Maintenance</h1>
    </div>
    
    <form action='/maintenance' method='POST' class='row'>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Which robot has the problem?</label>
            <select class="form-control" name='robotid' id="exampleFormControlSelect1">
                {% if ids != [] %}
                {% for id in ids %}
                <option>{{id}}</option>
                {% endfor %}
                {% else %}
                <option>You have no robots</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">When did the problem occur?</label>
            <input type="date" class="form-control" name='date' id="exampleFormControlInput1" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">What was the problem?</label>
            <textarea class="form-control" name='description' id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class='form-group'>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if problems %}
    <h2>Past Problems</h2>
    <div class="container">
        <div class="row">
            {% for problem in problems %} 
            <div class="col-md-4">
                <div class="card bg-primary mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Robot ID: {{problem['robotid']}}</h5>
                        <h6>Date: {{problem['date']}}</h6>
                        <p class="card-text">{{problem['problem']}}</p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
