{% extends "layout.html" %}
{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <h1>Mission Dashboard</h1>
        </div>
    </div>
    <div id="dashboard">
        <div class="row">
            <div id="loader" class="loader"></div>
            <button id="load_robot_button" type="button" class="btn btn-success">Load Robot</button>
            <button id="shutdown_robot_button" type="button" class="btn btn-danger">Shutdown Robot</button>
        </div>
        <div id="videofeed" class="row"> </div>
        <div id="robot_buttons">
            <div class="row">
                <button id="turn_on_detection_button" type="button" class="btn btn-success">Turn on Detection <i class="fa-solid fa-arrows-to-eye"></i></button>
                <button id="turn_off_detection_button" type="button" class="btn btn-danger">Turn off Detection</button>
            </div>
            <div class="row">
                <button id="look_up_button" type="button" class="btn btn-outline-primary">Look Up</button>
                <button id="look_down_button" type="button" class="btn btn-outline-primary">Look Down</button>
            </div>
            <div class="row">
                <button id="move_forward_button" type="button" class="btn btn-outline-primary">Move Forward</button>
                <button id="move_backward_button" type="button" class="btn btn-outline-primary">Move Backward</button>
                <button id="stop_button" type="button" class="btn btn-outline-primary">Stop Robot</button>
            </div>
        </div>
	<div id="mission_tab" class="col-4 mission">
	    <h2>Set Mission</h2>
	    <br/><br/>
	    <label for="blue">Number of Blue: </label>
	    <input type="number" id="blue_num" name="blue_num" min="0" value="0"><br/><br/>
	    <label for="red">Number of Red: </label>
	    <input type="number" id="red_num" name="red_num" min="0" value="0"><br/><br/>
	    <label for="green">Number of Green: </label>
	    <input type="number" id="green_num" name="green_num" min="0" value="0"><br/><br/>

	    <button id="start_mission_button" type="button" class="btn btn-secondary">Start Mission</button>
	    <button id="stop_mission_button" type="button" class="btn btn-danger">Stop Mission</button>
	
	</div>
    </div>
    <div>
	<div></div>
    </div>
{% endblock %}
{% block scripts %}
    <script> robot_loaded = {{robot_loaded}}; </script>
    <script src="/static/js/mission.js"></script> 
{% endblock %}
